[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = true
[core]
	editor = subl -n -w
[credential]
	helper = cache --timeout=3600
[user]
	name = Ryan Bottoms
	email = "rkbottoms@users.noreply.github.com"

